/* background image shouldn't scroll, and should always cover the page */
#background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  opacity: 0.85;
}

/* so the site content is displayed on top of the background */
#site_box {
  position: absolute;
  top: 0px;
  min-height: 100vh;
  min-height: 1;
}

/* image better fit for landscape mode */
@media (orientation: landscape) {
  #background {
    background-image: url("../img/background/landscape.jpg");
  }
}

/* image better fit for portrait mode */
@media (orientation: portrait) {
  #background {
    background-image: url("../img/background/portrait.jpg");
  }
}