#cast>h1 {
    margin-top: 1em;
}

#cast>h2 {
    margin-bottom: 0.2em;
}

#cast>p {
    margin: 0.2em 0;
}

.cast-member {
    display: flex;
}

.cast-member__img {
    max-width: 15%;
    margin: auto;
    border-radius: 50px;
}

.cast-member__text {
    max-width: 60%;
    font-size: 1.2rem;
    margin: auto;
    border-bottom: 2px solid black;
}

.cast-member:last-child .cast-member__text {
    border-bottom: none
}

.cast-member__text h2 {
    padding: 0;
}