#actors-box h1 {
    font-size: 2em;
    margin-top: 1em;
}

.director-box,
.writer-box,
.actor-box {
    border: 8px double rgb(143, 143, 241);
    border-radius: 10px;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    width: 90%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(131, 131, 131, 0.174);
    margin-bottom: 1em;
}

.director-box>*,
.writer-box>*,
.actor-box>* {
    margin-inline: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.director__info,
.writer__info,
.actor__info {
    width: 25%;
}

.artist__name {
    margin-top: 0;
    margin-bottom: 0.2em;
}

.artist__birth-year {
    margin-top: 0;
}

.artist__movies-list h4 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.artist__movies-list ul {
    padding-left: 25px;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.director__image {
    /* max-width: 35%; */
    width: 35%;
    max-height: 100%;
    /* width: auto; */
    height: auto;
}

.writer__image,
.actor__image {
    /* max-width: 25%; */
    width: 25%;
    max-height: 80%;
    /* width: auto; */
    height: auto;
}

.director__image,
.writer__image {
    margin-left: 10px;
}

.actor__image {
    margin-right: 10px;
}


.director__image:hover + .artist__tooltip {
    visibility: visible;
    opacity: 1;
}

.writer__image:hover + .artist__tooltip {
    visibility: visible;
    opacity: 1;
}

.actor__image:hover + .artist__tooltip {
    visibility: visible;
    opacity: 1;
}

.artist__description {
    width: 45%;
}

/* .writer-box .artist__description, */
.director-box .artist__description {
    width: 35%;
}

.artist__description p:first-child {
    margin-top: 0;
}

.artist__description p:last-child {
    margin-bottom: 0;
}

.artist__tooltip {
    opacity: 0;
    position: absolute;
    font-size: 0.8em;
    width: 15%;
    padding: 5px;
    background-color: rgb(34, 34, 34);
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    transition: opacity .5s ease-in;
}

.artist__tooltip:hover {
    visibility: visible;
    opacity: 1;
}